// Colors
$orange: hsl(25, 97%, 53%);
$white: hsl(0, 0%, 100%);
$lightGrey: hsl(217, 12%, 63%);
$mediumGrey: hsl(216, 12%, 54%);
$darkBlue: hsl(213, 19%, 18%);
$veryDarkBlue: hsl(216, 12%, 8%);
$black: hsl(215, 24%, 12%);
$lightBlack: hsla(215, 20%, 17%);
$gradient: radial-gradient(98.96% 98.96% at 50% 0%, $lightBlack 0%, $black 100%);

// Weight
$medium: 400;
$bold: 700;

// Font
$title: 2.4rem;
$paragraph: 1.4rem;